<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and found system</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="nav-section">
            <h3>Lost and Found</h3>
            <ul>
                <li>Feed</li>
                <button class="btn">Post Item</button>
                <li>Responses</li>
                <li>My Listings</li>
                <li>Sign-out</li>
            </ul>
        </div>
    </nav>

    <main>
        <h1>Lost Items</h1>
        <% for(post of posts) { %>
            <div class="post">
                <h4>Item : <%= post.item %></h4>
                <h4>Description : <%= post.description %></h4>
                <!-- <h4>Question : <%= post.question %></h4> -->
                <h4>Choose : <%= post.choose %></h4>
                <br/>
                <a href="http://localhost:3000/posts/<%= post.id %>">See in detail</a>
                <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit</a>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                    <button>Delete Post</button>
                </form>
            </div>
        <% } %>

    </main>

    <br/>
    <br/>
    <a href="http://localhost:3000/posts/new">new post</a>

    <script src="/app.js"></script>
</body>
</html>