<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and found system</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="nav-section">
            <h3>Lost and Found</h3>
            <ul>
                <li>Feed</li>
                <button class="btn">Post Item</button>
                <li>Responses</li>
                <li>My Listings</li>
                <li>Sign-out</li>
            </ul>
        </div>
    </nav>

    <main>
        <h1>Lost Items</h1>
        <br>
        <hr>
        <br>
        <br>
        <% for(report of Allreports) { %>
            <ul>
                <li>
                    <div class="post">
                        <h4>Item : <%= report.item %></h4>
                        <h4>Description : <%= report.description %></h4>
                        <h4>Question : <%= report.question %></h4>
                        <br/>
                        <a href="/report/<%= report.id %>">See in detail</a>
                        <a href="/report/<%= report.id %>/edit">Edit</a>
                        <form method="POST" action="/report/<%= report.id %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </div>
                </li>
            </ul>
        <% } %>

    </main>

    <br/>
    <br/>
    <a href="/report/new">new post</a>

    <script src="/app.js"></script>
</body>
</html>