<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single post</title>
  </head>
  <body>
    <h3>Id: @<%= post.id %></h3>
    <h4>Item : <%= post.item %></h4>
    <h4>Description : <%= post.description %></h4>
    <h4>Question : <%= post.question %></h4>
    <h4>Choose : <%= post.choose %></h4>
  </body>
</html>
