<% layout("/layouts/boilerplate") %>
<div class="container-fluid">
  <div class="mb-3">
    <h3 class="fw-bold fs-4 mb-3 admin">Report Lost and Found Item</h3>
    <div class="row mt-3 form-container">
      <div class="col-8 offset-2 form-content">
        <div class="form-data">
          <h2 class="fw-bold offset-5 admin">FORM</h2>
          <hr class="admin" />
          <form
            method="POST"
            action="/report/lost/<%= report._id %>/?_method=PUT"
            novalidate
            class="needs-validation"
          >
            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="date" class="form-label admin">Date:</label>
                <input
                  type="date"
                  name="report[date]"
                  placeholder=""
                  class="form-control"
                />
                <div class="invalid-feedback">Please provide the date.</div>
              </div>
              <div class="mb-3 col-md-4">
                <label for="time" class="form-label admin">Time:</label>
                <input
                  type="time"
                  name="report[time]"
                  placeholder=""
                  class="form-control"
                />
                <div class="invalid-feedback">Please provide the time.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="itemName" class="form-label admin">Item name</label>
              <input
                type="text"
                name="report[itemName]"
                value="<%= report.itemName %>"
                placeholder="Black Leather Wallet"
                class="form-control"
                required
              />
              <div class="valid-feedback">Item name looks good!</div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label admin"
                >Description</label
              > 
              <textarea
                name="report[description]"
                class="form-control"
                placeholder="A black leather wallet with several credit cards and a photo ID"
                required
              ><%= report.description %></textarea>
              <div class="invalid-feedback">Please provide a description..</div>
            </div>
            <div class="mb-3">
              <label for="location" class="form-label admin">Location</label>
              <input
                type="text"
                name="report[location]"
                value="<%= report.location %>"
                placeholder="Badminton court, near the Nescafe"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Please provide a location.</div>
            </div>
            <div class="mb-3">
              <label for="question" class="form-label admin"
                >Enter a question based on the item</label
              >
              <input
                type="text"
                name="report[question]"
                value="<%= report.question %>"
                placeholder="What is the name on the photo ID?"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Please provide question..</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                  <label for="itemType" class="mb-2 admin">Item Type</label>
                  <select
                    name="report[itemType]"
                    id="itemType"
                    class="form-control"
                    required
                  >
                    <option value="">Choose Item Type...</option>
                    <option value="Bags & Backpacks" <%= report.itemType === 'Bags & Backpacks' ? 'selected' : '' %>>Bags & Backpacks</option>
                    <option value="Clothing" <%= report.itemType === 'Clothing' ? 'selected' : '' %>>Clothing</option>
                    <option value="Computers & Electronics" <%= report.itemType === 'Computers & Electronics' ? 'selected' : '' %>>Computers & Electronics</option>
                    <option value="Earphones" <%= report.itemType === 'Earphones' ? 'selected' : '' %>>Earphones</option>
                    <option value="Footwear" <%= report.itemType === 'Footwear' ? 'selected' : '' %>>Footwear</option>
                    <option value="IDs & Cards" <%= report.itemType === 'IDs & Cards' ? 'selected' : '' %>>IDs & Cards</option>
                    <option value="Keys & Keychains" <%= report.itemType === 'Keys & Keychains' ? 'selected' : '' %>>Keys & Keychains</option>
                    <option value="Mobile Devices" <%= report.itemType === 'Mobile Devices' ? 'selected' : '' %>>Mobile Devices</option>
                    <option value="Papers & Documents" <%= report.itemType === 'Papers & Documents' ? 'selected' : '' %>>Papers & Documents</option>
                    <option value="Wallets & Purses" <%= report.itemType === 'Wallets & Purses' ? 'selected' : '' %>>Wallets & Purses</option>
                    <option value="Watches & Jewellery" <%= report.itemType === 'Watches & Jewellery' ? 'selected' : '' %>>Watches & Jewellery</option>
                    <option value="Wires & Cables" <%= report.itemType === 'Wires & Cables' ? 'selected' : '' %>>Wires & Cables</option>
                    <option value="Other" <%= report.itemType === 'Other' ? 'selected' : '' %>>Other</option>
                  </select>
                  <div class="invalid-feedback">Please provide the type of item.</div>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="status" class="mb-2 admin">Status</label>
                  <select
                    name="report[status]"
                    id="status"
                    class="form-control"
                    required
                  >
                    <option value="">Lost or Found...</option>
                    <option value="lost" <%= report.status === 'lost' ? 'selected' : '' %>>Lost</option>
                    <option value="found" <%= report.status === 'found' ? 'selected' : '' %>>Found</option>
                  </select>
                  <div class="invalid-feedback">Please provide the status of the item.</div>
                </div>
              <div class="mb-3">
                <label for="image" class="form-label admin">Upload Image</label>
                <input
                  type="file"
                  value="<% report.image.filename %>"
                  name="report[image]"
                  placeholder="What is the name on the photo ID?"
                  class="form-control"
                />
                <div class="invalid-feedback">Please provide a image.</div>
              </div>
            </div>
            <button class="btn add-btn mt-3 offset-3">
              <i class="fa-solid fa-check"></i> Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
